<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Board Create Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<script th:inline="javascript">
  function createPost() {
    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;

    const sendDTO = {
      title: title,
      content: content,
    };

    const url = '/api/v1/post';
    const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(sendDTO),
    };

    fetch(url, options)
    .then(response => {
      alert('작성 완료');
      location.href = '/boards';
    })
    .catch(error => {
      console.log(error);
      alert('작성 실패');
    });
  }
</script>
<body>
<h1>Board Create Page</h1>

<form>
  <div>
    <label>제목</label>
    <input type="text" id="title" name="title">
  </div>

  <div>
    <label>글 내용</label>
    <textarea id="content" name="content"></textarea>
  </div>
</form>

<hr>

<div class="row">
  <button type="button" onclick="createPost()">저장하기</button>
  <button th:onclick="|location.href='@{/boards}'|">목록으로</button>
</div>

</body>
</html>
