<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.board.dao.CommentDao">

  <select id="getCommentsByPostId" parameterType="Long"
    resultType="com.smart.board.controller.dto.comment.CommentReadDto">
    select c.comment_id,
           c.content,
           c.create_date,
           c.update_date,
           c.post_id,
           u.user_id,
           u.nickname
    from comment c
           left join user u on c.user_id = u.user_id
    where post_id = #{postId};
  </select>

  <delete id="deleteByPostId" parameterType="Long">
    delete
    from comment
    where post_id = #{postId}
  </delete>

  <select id="getCommentByCommentId" parameterType="Long"
    resultType="com.smart.board.controller.dto.comment.CommentReadDto">
    select c.comment_id,
           c.content,
           c.create_date,
           c.update_date,
           c.post_id,
           u.user_id,
           u.nickname
    from comment c
           left join user u on c.user_id = u.user_id
    where comment_id = #{commentId};
  </select>

  <insert id="createComment" parameterType="com.smart.board.domain.Comment"
    useGeneratedKeys="true"
    keyProperty="commentId">
    insert into comment (comment_id, content, create_date, post_id, user_id)
    values (#{commentId}, #{content}, #{createDate}, #{postId}, #{userId})
  </insert>

  <update id="updateComment" parameterType="com.smart.board.domain.Comment">
    update comment
    set content     = #{content},
        update_date = #{updateDate},
        user_id     = #{userId}
    where comment_id = #{commentId}
  </update>

  <delete id="deleteByCommentId" parameterType="Long">
    delete
    from comment
    where comment_id = #{commentId}
  </delete>

  <select id="checkCommentId" parameterType="Long" resultType="boolean">
    select exists(
             select *
             from comment
             WHERE comment_id = #{commentId}
             )
  </select>
</mapper>
