<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.user.dao.UserDao">
  <select id="getUser" parameterType="String" resultType="com.smart.user.domain.User">
    select *
    from user
    where nickname = #{nickname}
  </select>

  <insert id="joinUser" parameterType="com.smart.user.domain.User">
    insert into user (name, email, password, nickname, user_status, create_date)
    values (#{name}, #{email}, #{password}, #{nickname}, #{userStatus}, #{createDate});
  </insert>

  <select id="checkUserMail" parameterType="String">
    select exists(
             *
             from user
             WHERE email = #{email}
             )
  </select>

  <select id="checkUserNickname" parameterType="String">
    SELECT exists(
             *
             from user
             WHERE nickname = #{nickname}
             )
  </select>
</mapper>